<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{this :: title}, ~{this :: body})}">
<head>
    <title>Overview | Assignment Manager</title>
</head>
<body>
<h1 class="mt-4"> Overview </h1>
<a href="../index.html" th:href="@{/}">Top Page</a>
<a href="./creationForm" th:href="@{/issues/creationForm}">Create</a>
<!-- Assignments are shown in a table -->
<table class="table table-striped table-hover table-bordered">
    <!-- table's group of header -->
    <thead>
    <!-- one row of table -->
    <tr>
        <!-- row's head, shown as | (Big) "id" | "summary" |-->
        <th>#</th>
        <th>Overview</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue:${issueList}">
        <th th:text="${issue.id}">(id)</th>
        <td>
        <a href="./detail.html" th:href="@{/issues/{issueId}(issueId=${issue.id})}" th:text="${issue.summary}">
            (summary)
        </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>